pandas==2.2.2
scikit-learn==1.5.1
matplotlib==3.9.0
textdistance==4.6.2
python-dotenv==1.0.1
sentence-transformers==3.0.1
torch>=2.1.0
transformers>=4.41.0
accelerate>=1.12.0
tqdm>=4.66.1
datasets
nltk>=3.8.1
numpy>=1.24.0